.img-size-burger {
	width: 80%;
}

.img-size-items {
	width: 20%;
}

.div-items-size {
	height: 50%;
}

.save-btn-font-size {
	font-size: 1.3rem;
}

.overflow-scroll {
	overflow: scroll;
	width: 100%;
	height: 400px;
}

.hover {
    cursor: pointer;
}

.input-size {
	width: 25%;
}